<div class="container">
  <div class="row">
    <div class="d-inline-block bg-cor01 text-white col-3">
      <h3>Cor 1</h3>
      <p>#442980</p>
      <p>rgb (68, 41, 128)</p>
      <p>cmyk (47%, 68%, 0%, 50%)</p>
    </div>
    <div class="d-inline-block bg-cor02 text-white col-3">
        <h3>Cor 02</h3>
        <p>#ff7723</p>
        <p>rgb (255, 119, 35)</p>
        <p>cmyk (0%, 53%, 86%, 0%)</p>
    </div>
    <div class="d-inline-block  bg-cor03 text-black col-3">
      <h3>Cor 03</h3>
      <p>#f9f2f2</p>
      <p>rgb (249, 242, 242)</p>
      <p>cmyk (0%, 3%, 3%, 2%)</p>
    </div>
    <div class="d-inline-block bg-cor04 text-white col-3">
      <h3>Cor 04</h3>
      <p>#bd158d</p>
      <p>rgb (189, 21, 141)</p>
      <p>cmyk (0%, 89%, 25%, 26%)</p>

    </div>

  </div>
</div>