<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section bg text-white home section-lg section-shaped pb-250">
          <div class="shape shape-style-1 bg-white shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="container py-lg-md d-flex ">
            <div class="col px-0">
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="display-3  text-white">Página não encontrada</h1>
               
                
                   <!-- Botão quero saber mais -->
                  <div class="justify-content-center">
                   <a class= "btn btn-primary floating">
                      <i class="fa fa-home mr-2"></i> Voltar para página inicial
                   </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- SVG separador svg -->
          <div class="separator separator-bottom separator-skew">
            <svg class="editorial"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 24 150 28 "  preserveAspectRatio="none"> 
              <defs> <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18  58-18 88-18  58 18 88 18 v44h-352z" /> </defs>
              <g class="parallax1">
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#442980"/>
              </g>
              <g class="parallax2">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#bd158d"/>
              </g>
              <g class="parallax3">
                <use xlink:href="#gentle-wave" x="50" y="9" fill="#ff7723"/>
              </g>
              <g class="parallax4">
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>  
              </g>
            </svg>
          </div>
        </section>
        </div>
</main>