<br>
<br>
<div class="container register">
                <div class="row">
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Cadastrar Apresentação</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nome da apresentação *" value="" />
                                        </div>
                                        <div class="form-group">
                                          <mat-form-field class="example-chip-list">
                                            <mat-chip-list #chipList aria-label="Fruit selection">
                                              <mat-chip *ngFor="let categoria of categorias" [selectable]="selectable"
                                                       [removable]="removable" (removed)="remove(categoria)">
                                                {{categoria.nome}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                              </mat-chip>
                                              <input placeholder="New categoria..."
                                                     [matChipInputFor]="chipList"
                                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                     [matChipInputAddOnBlur]="addOnBlur"
                                                     (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>
                                          </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Senha*" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirmar Senha *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="masculino" checked>
                                                    <span> Maculino </span> 
                                                </label>
                                                <br>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="feminino">
                                                    <span>Feminino </span> 
                                                </label>
                                                <br>
                                                <label clas= "radio inline">
                                                  <input type="radio" name="genero" value="outros">
                                                  <span>Outros</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Sobrenome*" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="tel"  name="telefone" class="form-control" placeholder="Número de Telefone *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected>Categoria</option>
                                                <option>Dança</option>
                                                <option>Teatro</option>
                                                <option>Expectador</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email" value="" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Cadastrar"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Apply as a Hirer</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is Your old Phone Number</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="`Answer *" value="" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>