
<!-- Página 01 Seção 01-->
<section class="view intro-2 rgba-gradient">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row flex-center pt-5 mt-3">
        <div class="col-md-12 text-center margins">
          <div class="white-text text-center">
            <h1 class="h1-responsive fraseImpacto " ><strong>IMPACTO!</strong> </h1>
            <h6 class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, animi exercitationem similique unde odio ipsum minus temporibus non distinctio iusto voluptatem corrupti aspernatur tenetur quas eius laboriosam vitae, deserunt explicabo.
              <br>O seu trabalho aqui é ser gente como a gente, pessoa como pessoa.
            </h6>
            <a class="btn btn-primary  btnSobre" href="#beneficios">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="overlay-detail text-center">
      <a href="#beneficios"><i class="fa fa-angle-down"></i></a>
    </div>
</section>
<br>
<!-- Seção Explicativa -->
<section class="features beneficios" id="beneficios">         
  <div class="container full-bg-img">
    <div class="section-header text-center">
      <br>
      <i class="fas fa-bullhorn Icone"></i>
      <br>
      <h2 class="h1">Quem somos?</h2>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h4 class="lead">Somos uma plataforma de divulgação de compainhas de danças e teatro do Ceará</h4>
          <p class = "lead">Ficou mais fácil conhecer o trabalho das companhias, contatá-las, consultar sua agenda de espetáculos e participar de workshops. </p>
        </div>
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="col-lg-4">
        <div class="features-item mb-5 mb-lg-0">
          <div class="gradient-icon gradient-1"><i class="fas fa-calendar-check"></i></div>
          <h3 class="h5">Consulte os horários</h3>
          <p>Aqui é benefício é todo seu</p><a href="#" class="features-link">Saiba mais<i class="icon ion-ios-arrow-forward ml-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-item mb-5 mb-lg-0">
          <div class="gradient-icon gradient-2"><i class="fas fa-comments"></i></div>
          <h3 class="h5">Faça o review de peças</h3>
          <p>Você pode sim </p><a href="#" class="features-link">Saiba mais<i class="icon ion-ios-arrow-forward ml-2"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-item mb-5 mb-lg-0">
          <div class="gradient-icon gradient-3"><i class="fas fa-user-plus"></i></div>
          <h3 class="h5">Cadastre sua compainha</h3>
          <p>Aqui é nosso benefício 03</p><a href="#" class="features-link">Saiba mais<i class="icon ion-ios-arrow-forward ml-2"></i></a>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<!-- Seção Peças em Cartazes (virá de component) -->
<br>
<!-- Seção Benefícios -->
<section class="app-showcase pb-big">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="mb-4">Benefícios para cadastrados</h2>
        <p class="lead">Muitos benefícios</p>
        <div class="row mt-5">
          <div class="col-lg-8">
            <div id="v-pills-tab" role="tablist" aria-orientation="vertical" class="nav flex-column nav-pills showcase-nav">
              <a id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" class="nav-link active showcase-link"> 
                <i class="fas fa-theater-masks"></i>Conecte-se</a><a id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" class="nav-link showcase-link"> 
                    <i class="fas fa-theater-masks"></i>Opine</a><a id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" class="nav-link showcase-link"> 
                    <i class="fas fa-theater-masks"></i>Mostre seu trabalho</a>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Seção de testemunhas (Opniões sobre a plataforma) -->
<section class="testimonials bg-testemunhos">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-6 section-padding">
        <br>
        <div class="section-header pr-3"><span class="section-header-title text-white">Comunidade</span>
          <h2 class="h1 text-white">Nós acreditamos no poder da comunidade</h2>
          <p class="lead text-white mt-4 mb-4">Nosso objetivo é criar um produto e serviço com os 
              quais você está satisfeito e usá-lo todos os dias. 
              É por isso que estamos constantemente trabalhando em nossos serviços para melhorar todos os dias e realmente ouvir o que nossos usuários têm a dizer</p>
              <a href="#" class="btn btn-outline-light">Quero fazer parte</a>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="row feeds">
          <div class="col-lg-6">
            <div class="swiper-container testimonials-slider-1">
              <div class="swiper-wrapper">
                <!-- Feed slide-->
                <br>
                <div class="swiper-slide"> 
                  <!-- Feed block-->
                  <div class="feed-block">
                    <div class="feed-header">
                      <div class="feed-user">
                        <div class="feed-user-avatar"><img src="https://randomuser.me/api/portraits/men/14.jpg" alt="user" class="feed-user-image img-fluid"></div>
                        <div class="feed-user-name"><strong>Usuário 01</strong></div>
                      </div>
                      <div class="feed-icon"><i class="fab fa-twitter"></i></div>
                    </div>
                    <div class="feed-body">
                      <p class="feed-text">Este site é maravilhoso ele é uma ótima oportunidade para pessoas se candidatarem a sofrer na vida. I can only recommend it!</p>
                    </div>
                    <div class="feed-date">Jan 18, 2018</div>
                  </div>
                </div>
                
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>

<!-- Seção Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Mapa do Site</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Página Inicial</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sobre Nós</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Para Você</a></li>
					</ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h5>Receba Atualizações</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control white-text" placeholder="Insira seu e-mail" aria-label="Insira seu e-mail" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Enviar</button>
                </div>
            </div>
        </div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <img class= "logoUFC" src= "https://www.quixada.ufc.br/wp-content/uploads/2018/10/brasao-horizontal-colorido-1.png" alt="Logo UFC">
          <br>
          <p id= "NomeFooter" >Universidade Federal do Ceará - Campus Quixadá</p>
				</div>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->