.intro-header {
    height: unset !important;
  }
  .intro-2 {  
    background: url("https://drscdn.500px.org/photo/104440355/q%3D80_m%3D1500/v2?webp=true&sig=12efa3dbe35286d608edf901d426629c1c49c860267da815beaada2977cb5a57")no-repeat center center;
    background-size: cover;
  }

  .intro-2 img{
    width: 200px;
  }
  .view {
   height: 100vh !important;
  }
  .btn .fa {
    margin-left: 3px;
  }
  
  .rgba-gradient .full-bg-img {
    background: linear-gradient(50deg, rgba(100, 16, 109, 0.767), rgb(69, 41, 128) 100%);
    height: 109%;
  }
  

  @media (max-width: 450px) {
    .margins {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1020px;
    }
  }
  
  .fraseImpacto{
   padding-top: 100px;
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  
  .botoes{
    float: right;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  }
  .img-responsive{
    width: auto;
    height: 340px;
  }
  
.white-text{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.Icone{
  font-size: 70px;
  color: #442980;
}

.gradient-icon {
    border-radius: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    background:  #442980;
    line-height: 3.5rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
    

  .features-link {
    font-weight: 700;
    color: #9055A2;
  }
  
  .features-link:hover, .features-link:focus {
    text-decoration: none;
   
  }
  .showcase > i{
    padding: 5px;
  }
  .showcase-image-holder {
    position: relative;
    margin: 1.5rem auto 0;
  }
  
  @media (max-width: 991.98px) {
    .showcase-mockup {
      display: block;
    }
  }
  
  .showcase-image {
    position: absolute;
    top: -5rem;
    right: -90%;
    z-index: -1;
    width: 150%;
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .showcase-link {
    font-weight: 600;
    color: #999;
  }
  
  @media (max-width: 767.98px) {
    .showcase-link {
      font-size: 1rem !important;
    }
  }
  
  .showcase-link i {
    color: rgba(144, 85, 162, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
  }
  
  .showcase-link.active, .showcase-link:hover {
    background: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    color: #333;
  }
  
  .showcase-link.active i, .showcase-link:hover i {
    color: #9055A2;
  }


  .feeds {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .feed-block {
    padding: 1rem 1.2rem;
    background: #ffffff;
    border-radius: 0.6rem;
    color: #442980;
  }
  
  .feed-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .feed-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .feed-user-avatar {
    min-width: 3rem;
    width: 3rem;
    min-height: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.7rem;
  }
  
  .feed-icon {
    color: #6F6F6F;
  }
  
  .feed-text {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  
  .feed-date {
    font-weight: 700;
    font-size: 0.85rem;
    color: #442980;
    margin-top: 2rem;
  }

  .bg-testemunhos{
    background-color:  #442980;;    
}


/* Footer */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #9055A2;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background:  rgb(255, 255, 255) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#9055A2;
}
#footer a {
    color: #9055A2;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#9055A2
}
#footer ul.social li a:hover{
	color:#9055A2;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
#NomeFooter{
  color: #9055A2;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }


}
.btnSobre{
    background-color: rgba(69, 41, 128, 5.0);
    border-radius: 04px;
    font-size: 15px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.btnSobre:hover{
    background-color: #9c2288;
}

.overlay-detail a i {
  
  position: absolute;
  bottom: 25px;
  font-size: 38px;
  color: #fff;
  margin: 0 auto;
}

.logoUFC{
  height:50px;
  padding: 10px;
}
