.nav-link-inner--text{
    color: white;
}
.menuColapse{
    color: #442980;
}
.btn-primary{
    background-color: rgb(189, 21, 141);
    border-radius: 04px;
    border-color: rgb(189, 21, 141);
}
.btn-outline-default{
    background-color: #442980;
    color: white;
}

.explore{
    cursor: pointer;
}