<br>
<div class="container">
  <div class="d-block p-2 bg-primary text-white">
    <h2>Logomarca</h2>

  </div>
  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Tipografia</h2>
  </div>
  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Iconografia</h2>
  </div>

  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">Paleta de Cores</h3>
      <app-paleta-cores></app-paleta-cores>
    </div>

  </div>

  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-4">Botões de Ação</h3>
        <app-btn-acao></app-btn-acao>
    </div>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Formulários</h2>
    <h4>Inputs</h4>
    <h4>Caixas de Seleção</h4>
    <h4>Radio Button e Checkbox</h4>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Caixas de Diálogo e Notificações</h2>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Links e Elementos de Navegação</h2>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Ferramenta de Busca</h2>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Tabela</h2>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Galeria de Imagens</h2>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Carrosséis</h2>
  </div>

  <br>
  <div class="d-block p-2 bg-primary text-white">
    <h2>Botões e ícones de redes sociais</h2>
  </div>


  <br>

</div>