.bgExplore{
    /* background-image: url("https://drscdn.500px.org/photo/183260821/m%3D2048/v2?webp=true&sig=13c18c8f0cf5342ad0121a42950496fbc3e1c164d0d266693421e497f77a13d2");
     */
    background-image: linear-gradient(to right, rgba(68,41,128,1),rgba(189, 21, 141, 0.836) );
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text-roxo{
	color: #442980
}